BODY {
	font-family: sans-serif;
	font-size: smaller;
	margin: 0;
	padding: 0;
}

div#topleft, div#topright, div#bottomcenter{
	margin: 0;
	padding: 0;
	width: auto;
	vertical-align: top;
	position: absolute;
	overflow: auto;
}

div#topleft, div#topright {
	height: 14em;
	top: 0;
}

div#topleft {
	width: 30%;
	float: left;
	left: 0;
}
div#topright {
	width: 70%;
	float: right;
	right: 0;
	border-left: 1px gray solid;
}
div#bottomcenter {
	border-top: 1px gray solid;
	top: 14em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	width: auto;
	height: auto;
}
div h1 {
	margin: 0em;
	padding: 0.1em 0.1em 0.1em 0.3em;
	font-size: 1em;
	background-color: #dddddd;
}

